$md-hint-normal-color: #d9eeff;
$md-hint-info-color: #d9eeff;
$md-hint-warning-color: #fd6;
$md-hint-danger-color: #f66;

.hint {
  &.info {
    border-left-color: rgba($md-hint-info-color, 1) !important;
    background-color: rgba($md-hint-info-color, 0.25);
  }

  &.warning {
    border-left-color: rgba($md-hint-warning-color, 1) !important;
    background-color: rgba($md-hint-warning-color, 0.25);
  }

  &.danger {
    border-left-color: rgba($md-hint-danger-color, 1) !important;
    background-color: rgba($md-hint-danger-color, 0.25);
  }

  &.normal {
    border-left-color: rgba($md-hint-normal-color, 1) !important;
    background-color: rgba($md-hint-normal-color, 0.05);
  }
}
